extends user

block profileContent

  .card-body.border-left.border-right
    each item in profile.content

      - var isRepost = (item.reposter) ? true : false
      - var isReply = (item.originalPoster) ? true : false

      .post.container.border-bottom
        if isRepost
          p.repost-text
            i.fas.fa-arrow-right
            |
            | #{item.reposter} Reposted

        else if isReply
          p.repost-text
            i.far.fa-comment
            |
            | #{item.username} Replied to #{item.originalPoster}

        a(href=`/user/${item.username}`)
          .avatar-sm
            img(src=`/images/avatar/${item.avatar}.webp`, onerror='this.src="/images/avatar/default.webp"')
        .h6
          a(href=`/user/${item.username}`) #{item.username}
        p #{item.text}

        table.post-buttons
          tbody
            tr
              td.i.far.fa-comment.comment-button(data-id=item.id, data-toggle='modal')
              if item.isLiked
                td.i.fas.fa-heart.liked.like-button(data-id=item.id, data-action='unlike')
              else
                td.i.far.fa-heart.like-button(data-id=item.id, data-action='like')
              td.i.fas.fa-arrow-right.repost-button(data-id=item.id)
              if isRepost
                td #{item.originalTimestamp}
              else
                td #{item.timestamp}

    //- Comment modal
    #commentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='commentModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#commentModalLabel.modal-title Comment
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(action='/post/comment', method='post', id='comment-form')
              .form-group
                textarea.form-control(rows='5', name='postText')
                button.btn.btn-primary.mr-1.mt-1(type='button')
                  i.far.fa-image
                button.btn.btn-primary.mt-1(type='submit') Post
