extends layout

block content

  - var avatar = (userData.avatar) ? userData.avatar : 'default'

  #cover
  .container
    .avatar-lg#avatar-profile
      img(src=`/images/avatar/${avatar}.webp`)
    .h2#profile-name @#{userData.username}

    //- Determine button type for user profile, settings/unfollow/follow
    if isMyUser
      button.btn.btn-primary#profile-settings-button(type='button') Settings
    else if user.isFollowing
      button.btn.btn-danger#profile-follow-button(type='button', data-action='unfollow') Unfollow
    else
      button.btn.btn-success#profile-follow-button(type='button', data-action='follow') Follow

    #profile-sidebar
      .p #{userData.bio}


      //- The user will be able to make posts from their own profile page
      if isMyUser
        .h4.float-left.mt-3 New Post
        form(action=`/user/${myUsername}/post`, method='post', id='post-form')
          .form-group
            textarea.form-control(rows='5', name='postText')
            button.btn.btn-primary.mr-1.mt-1(type='button') Image
            button.btn.btn-primary.mt-1(type='submit') Post

    #profile-posts
      .card-header.mt-5
        ul.nav.nav-tabs.card-header-tabs
          li.nav-item
            a.nav-link.active(href='#') #{user.posts.length} Posts
          li.nav-item
            a.nav-link(href='#') 0  Likes
          li.nav-item
            a.nav-link(href='#') 0 Followers
          li.nav-item
            a.nav-link(href='#') #{user.followingCount}  Following

      .card-body
        each post in user.posts
          .post.container
            .avatar-sm
              img(src=`/images/avatar/${avatar}.webp`)
            .h6 @#{userData.username}
            p #{post.text}
            .btn-toolbar(role='toolbar')
              .btn-group.mr-2(role='group')
                button.btn.btn-outline-primary(type='button') Comment
                button.btn.btn-outline-primary(type='button') Like
                button.btn.btn-outline-primary(type='button') Repost
              .btn-group(role='group')
                button.btn.btn-outline-secondary(type='button') #{post.timestamp}
          hr
