mixin posts(posts)
  each post in posts
    +post(post)

mixin post(post)
  - var isRepost = (post.reposter) ? true : false
  - var isReply = (post.originalPoster) ? true : false
  - var replyCount = (post.replyCount > 0) ? post.replyCount : null
  - var likeCount = (post.likeCount > 0) ? post.likeCount : null
  - var repostCount = (post.repostCount > 0) ? post.repostCount : null

  .post.linked.container.border-bottom(data-id=post.id)

    if post.isMyPost
      p.del-post-button.i.fas.fa-times(data-id=post.id)

    if isRepost
      p.repost-text
        i.fas.fa-arrow-right
        |
        | #{post.reposter} Reposted
    else if isReply
      p.repost-text
        i.far.fa-comment
        |
        | #{post.username} Replied to #{post.originalPoster}

    a(href=`/user/${post.username}`)
      .avatar-sm
        img(src=`/images/avatar/${post.avatar}.webp`, onerror='this.src="/images/avatar/default.webp"')
    .h6
      a(href=`/user/${post.username}`) #{post.username}

    p!= post.text
    if post.image
      .post-image
        img(src=`/images/upload/${post.image}.webp`)

    table.post-buttons
      tbody
        tr
          td.i.far.fa-comment.comment-button(data-id=post.id)
            a  #{replyCount}
          if post.isLiked
            td.i.fas.fa-heart.liked.like-button(data-id=post.id, data-action='unlike')
              a  #{likeCount}
          else
            td.i.far.fa-heart.like-button(data-id=post.id, data-action='like')
              a  #{likeCount}
          td.i.fas.fa-arrow-right.repost-button(data-id=post.id)
            a  #{repostCount}
          if isRepost
            td #{post.originalTimestamp}
          else
            td #{post.timestamp}
