mixin thread(thread)
  each item in thread
    +post(item)

mixin post(post, focus=false)

  if focus
    p #{post.isMyPost}
    .thread-focus(data-id=post.id)
      .post.linked.focus.container
        +postBody(post)
  else
    .post.linked.container.border-bottom(data-id=post.id)
      +postBody(post)

mixin postBody(post)

  - var replyCount = (post.replyCount > 0) ? post.replyCount : null
  - var likeCount = (post.likeCount > 0) ? post.likeCount : null
  - var repostCount = (post.repostCount > 0) ? post.repostCount : null

  if post.isMyPost
    .del-post-button.i.fas.fa-times(data-id=post.id)

  a(href=`/user/${post.username}`)
    .avatar-sm
      img(src=`/images/avatar/${post.avatar}.webp`, onerror='this.src="/images/avatar/default.webp"')
  .h6
    a(href=`/user/${post.username}`) #{post.username}

  p #{post.text}
  if post.image
    .post-image
      img(src=`/images/upload/${post.image}.webp`)

  table.post-buttons
    tbody
      tr
        td.i.far.fa-comment.comment-button(data-id=post.id, data-toggle='modal')
          a  #{replyCount}
        if post.isLiked
          td.i.fas.fa-heart.liked.like-button(data-id=post.id, data-action='unlike')
            a  #{likeCount}
        else
          td.i.far.fa-heart.like-button(data-id=post.id, data-action='like')
            a  #{likeCount}
        td.i.fas.fa-arrow-right.repost-button(data-id=post.id)
          a  #{repostCount}
        td #{post.timestamp}
